* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: rgb(22, 22, 22);
  height: 100%;
  width: 100%;
  overflow-x: hidden;

}
.main {
  height: 100%;
  width: 100%;
  position: relative;
}

nav {
  margin-top: 2vw;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
  width:100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items:center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
nav a:hover{
   background-color: lightseagreen;
}

nav li:first-child{
  margin-right: auto;
  font-size: 1.8rem;
}
.sidebar{
  position: fixed;
  top:0;
  right: 0;
  height: 100%;
  width: 250px;
  z-index: 999;
  background-color: rgba(32, 178, 171, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-btn{
  display: none;
}

.content{
  height: calc(100% - 70px); 
  width: 100%;
  display: flex;
  position: relative;
}
.firstSection{
  height: 100%;
  width: 50%;
  padding: 15vw 8vw;
}
.firstSection h3{
  font-size: 3vw;
  line-height: 4vw;
  color: white;
}
.firstSection h1{
  font-size: 3vw;
  line-height: 4vw;
  color: white;
}

.firstSection h1 span{
  color: lightseagreen;
}
.firstSection h2{
  font-size: 3vw;
  line-height: 4vw;
  color: white;
}
.download-button {
  display: inline-block; 
  padding: 1vw 1vw; 
  background-color: lightseagreen; 
  text-align: center; 
  color: #fff; 
  text-decoration: none; 
  border-radius: 5vw; 
}

.secondSection{
  height: 100%;
  width: 50%;
}

.front{
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  width: 100%;
}
.flowing-text {
  margin:0;
  padding-top: 26vw;
  font-size: 10rem;
  text-align: center;
  animation: flowText 15s linear infinite;
  color: rgb(24, 120, 115);
}

@keyframes flowText {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
.intro {
  text-align: center;
}
.intro-content {
  display: flex;
}
.intro h2{
  font-size: 4vw;
  line-height: 4vw;
  padding:2vw 3vw;
  color: white;
}
.intro h2 span{
  color: lightseagreen;
}
.rig{
  height: 100%;
  width: 50%;
  padding: 5vw 4vw;
}
.rig p{
  color: white;
  font-size: 1.6vw;
  line-height: 3.8vw;
  font-weight: bold;
  text-align: left;
}
.rig p span{
  color: lightseagreen;
}
.lef{
  height: 100%;
  width: 50%;
  margin-top: 4vw;
  margin-right: 8vw;
}
.lef img{
  width: 50%;
  height: 50%;
  border-radius: 50%;
}
.connect{
  text-align: center;
}
.connect h2{
  font-size: 2.5vw;
  line-height: 3vw;
  padding:2vw 0;
}
.connect span{
  font-size: 2vw;
  line-height: 3vw;
  padding:2vw 3vw;
}
.social-account{
  margin: 1vw 0;
}
.social-account a{
  border: 1px solid #ccc;
  border-radius:50%;
  color: lightseagreen;
  display: inline-flex;
  justify-content:center;
  padding-top: 5px;
  width:40px;
  height:20px;
}
.about-content {
  text-align: center;
  height: calc(100% - 70px);
  width: 100%;
  display: flex;
  position: relative;
}
.about-content .first {
  height: 100%;
  width: 50%;
  padding: 15vw 4vw;
}
.about-content .first h2 {
  color: white;
  font-size: 2vw;
  line-height: 4vw;
}
.about-content .first p {
  font-size: 2vw;
  font-weight: 400;
  color: white;
  width: 80%;
  margin-top: 3vw;
  margin-left: 5vw;
}
.about-content .first p span {
  color: lightseagreen;
}
.about-content .secondSection {
  height: 100%;
  width: 50%;
}
.secondSection img {
  padding-top: 7vw;  
  height: 70%;
  width: 70%;
}
.skill {
    text-align: center;
  }

.skill h2{
    font-size: 3vw;
    line-height: 4vw;
    padding:2vw 3vw;
    color: lightseagreen;
}

.logo-box {
    display: inline-block;
    width: 80px; 
    height: 60px; 
    border: 1px solid lightseagreen;
    margin: 5px;
    text-align: center;
    line-height: 60px;
}
.logo-box i {
    color: white;
    font-size: 2vw;
    font-weight: 400;
  }

 .logo-box img{
  height: 50%;
  width: 50%;
  margin-top:1vw
 } 

  .project-content {
    text-align: center;
    height: calc(100% - 70px);
    width: 100%;
    position: relative;
    margin-top: 8vw;
  }
  .project-content h2 {
    color: lightseagreen;
    font-size: 3vw;
    line-height: 4vw;
  }

  .project-content span{
    color: white;
    font-size: 2vw;
  }
  
  .project-box {
    display: inline-table;
    width: 20vw;
    height: 30vw;
    border: 2px solid lightseagreen;
    box-sizing: content-box;
    margin: 6vw 2vw;
    text-align: center;
    line-height: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s, box-shadow 0.3s;
    overflow: hidden;
  }
  .project-box:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  .project-box h3{
    color: white;
  }
  .project-box p{
    color: white;
    font-size: 1vw;
    line-height: 1vw;
  }
  .project-box img{
    height: 15vw;
    width: 17vw;
  }
  .github {
    margin: 3vw 6vw; 
    background-color: lightseagreen; 
    text-align: center; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5vw; 
     height: 40px;
  }

  .contact {
    padding: 50px 0;
}

.contact h2 {
    color: lightseagreen;
    text-align: center;
    margin-bottom: 30px;
}

.contact .container {
  max-width: 400px;
  margin: 3vw auto;
  padding: 20px;
  background-color:rgb(17, 15, 15);
  border: 1px solid black;
  border-radius: 5px;
}

.contact input[type="text"],
.contact textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    color: white;
    background-color: rgb(29, 28, 28);
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
}

.contact textarea {
    height: 150px;
}

.contact input[type="submit"] {
    background-color: lightseagreen;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.contact input[type="submit"]:hover {
    background-color: #45a049;
}

.contact input[type="submit"]:focus {
    outline: none;
}

.contact input[type="submit"]:active {
    background-color: #3e8e41;
}

.footer {
  color: #fff;
  background-color: rgb(22, 22, 22);
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.footer-content > div {
  flex: 1;
}

.footer-content span {
  font-size: 20px;
}

.footer-content .social-icon{
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
}

.footer-content .icon {
  color: #fff;
  margin-right: 10px;
  font-size: 24px;
}

.footer p {
  margin-top: 10px;
  font-size: 20px;
}

@media (max-width: 600px) {

  .hideOnMobile{
    display: none;
  }
  .menu-btn{
    display: block;
    color: white;
  }
  .rig img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-left: 2vw;
  }
  .content{
    height: calc(100% - 60px); 
    flex-direction: column;
  }
  .firstSection{
    padding-top: 20vw;
    width: 100%;
    height: 30%;
  }
  .secondSection{
    width: 100%;
    height: 50%;
  }
  .firstSection h3{
    font-size: 7vw;
    line-height: 11vw;
  }
  .firstSection h1{
    font-size: 11vw;
    line-height: 10vw;
  }
  
  .firstSection h1 span{
    color: lightseagreen;
  }
  .firstSection h2{
    font-size: 7vw;
    line-height: 11vw;
  }
  
  .download-button {
    display: inline-block; 
    padding: 0.5vw 0.9vw; 
    background-color: lightseagreen; 
    text-align: center; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5vw; 
}
.flowing-text {
  margin:0;
  padding-top: 58vw;
  font-size: 5rem;
  text-align: center;
  animation: flowText 10s linear infinite;
  color: rgb(24, 120, 115);
}

  .intro h2{
    font-size: 10vw;
    line-height: 11vw;
    padding:15vw 4vw;
  }
  .intro-content{
    flex-direction: column;
    text-align: center;
  }
  .rig{
    height: 100%;
    width: 50%;
    padding: 20vw 25vw;
    text-align: center;
  }
  .rig p{
    font-size: 5vw; 
    line-height: 7vw;
    white-space: normal; 
    margin-bottom: 15px; 
  }

  .lef{
    height: 100%;
    width:50%;
    align-self: center;
  }

  .about-content{
    flex-direction: column;
    margin-left: 20vw;

  }
  .about-content .first h2 {
    color: white;
    font-size: 4vw;
    line-height: 4vw;
  }
  .about-content .first p {
    font-size: 4vw;
    font-weight: 400;
    color: white;
    width: 80%;
    margin-top: 3vw;
    margin-left: 5vw;
  }

  .skill{
    margin-top: 10vw;
  }
  .project-content h2 {
    color: lightseagreen;
    font-size: 4vw;
    line-height: 4vw;
  }

  .project-content span{
    color: white;
    font-size: 4vw;
  }
  .project-box {
    display: inline-table;
    width: 55vw;
    height: 20vw;
    border: 2px solid lightseagreen;
    margin: 6vw 2vw;
    text-align: center;
    line-height: 60px;
  }
  .project-box p{
    font-size: 3vw;
    line-height: 4vw;
    margin-bottom: 2vw;
  }
  .project-box img{
    height: 15vw;
    width: 17vw;
  }
  .github {
    margin-left: 20vw; 
    background-color: lightseagreen; 
    text-align: center; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5vw; 
    height: 20px;
    width: 40px;
  }
  .contact {
    padding: 50px 0;
}

.contact .container {
  margin: 3vw auto;
  width: 60%;
  background-color:rgb(17, 15, 15);
  border: 1px solid black;
  border-radius: 5px;
}

  .footer {
    color: #fff;
    padding: 20px 0;
    text-align: center; 
  }
  .footer-content {
    flex-direction: column;
  }
  
  .footer-content span {
    font-size: 4vw; 
  }
  
  .footer-content .icon {
    color: #fff; 
    margin-right: 10px; 
    font-size: 4vw; 
  }
  
  .footer p {
    margin-top: 10px; 
    font-size: 5vw; 
  }
}
